:root {
    --grid-size: 16; /* default - can be overridden by js */
    --game-size: 500px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

#menu{
    display: flex;
    width: var(--game-size);
    align-items: center;
    justify-content: space-between;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: var(--game-size);
    height: var(--game-size);
    border: 1px solid grey;
    box-sizing: border-box;
}


.square_div {
    flex: 1;
    min-width: calc(100% / var(--grid-size));
    min-height: calc(100% / var(--grid-size));
}